.search-list {
  .nav-item {
    cursor: pointer;
    .action-bar {
      position: absolute;
      right: 5px;
      top: 5px;
      display: none;
    }
    &:hover {
      .action-bar {
        display: block;
      }
      .nav-link {
        background: #20a8d8;
      }
    }
  }
  .back-button {
    width: 50px;
    border-radius: 0px;
  }
  .details-button {
    width: 100%;
    border-radius: 0px;
  }
  .sidebar-nav {
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #000000;
    }
  }
}
